# Evaluación del Curso

La evaluación de los conocimientos impartidos durante las clases será a modo de entrega de trabajo práctico final. La entrega de trabajo final de la cursada comprende una investigación, desarrollo y resultados finales basados en un set de datos a elección por el grupo (máximo 6 personas).

## Criterios de Aprobación

Los criterios de aprobación son los siguientes:

1. **Trabajo en Grupo:** 
   - Obligación de trabajar en grupo mínimo de 2 y máximo de 6 personas.
   - Excepciones se pueden hacer mediante un correcto justificativo.

2. **Fuentes de Información:**
   - Cada TP debe citar la fuente de información de evaluación.
   - Se debe especificar de dónde se obtuvieron los datos.

3. **Formato de Entrega:**
   - Preferentemente en notebook de iPython (formato `.ipynb`).
   - También se acepta entrega mediante un documento en Google Colab.

4. **Propuesta de Investigación:**
   - Contendrá la propuesta de investigación en los datos.
   - Citar el porqué de la evaluación.
   - Explicar qué se pretende encontrar o descubrir con dicha investigación.

5. **Selección del Algoritmo:**
   - Explicar el porqué de la elección del algoritmo empleado.
   - Justificar cómo se llegó a esa elección por sobre otras opciones.

6. **Resultados y Métricas:**
   - Expresar de manera clara el resultado de la investigación.
   - Aportar las métricas necesarias para comprender el desempeño del algoritmo elegido.

7. **Reproducibilidad:**
   - El entregable debe incluir el código acompañado para su reproducibilidad.

8. **Reflexión y Propuestas Futuras:**
   - En su cierre, debe dar una reflexión de la investigación.
   - Proponer nuevos caminos de resolución en caso de ser necesario.

---

*Nota: Este documento sirve como guía para la evaluación final del curso. Asegúrate de cumplir con todos los criterios mencionados para maximizar tus posibilidades de aprobación.*

# Importar Librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Analisis exploratorio de datos

In [4]:
car_data = pd.read_csv('../datasets/car data.csv')
car_details = pd.read_csv('../datasets/CAR DETAILS FROM CAR DEKHO.csv')

In [5]:
car_data.sample(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
200,Bajaj Pulsar 150,2006,0.10,0.75,92233,Petrol,Individual,Manual,0
65,etios liva,2014,4.75,6.95,45000,Diesel,Dealer,Manual,0
158,Honda Dream Yuga,2017,0.48,0.54,8600,Petrol,Individual,Manual,0
272,city,2015,7.50,10.00,27600,Petrol,Dealer,Manual,0
75,etios g,2015,3.95,6.80,36000,Petrol,Dealer,Manual,0

In [6]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

Vemos que no tenemos datos nulos!

In [7]:
car_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,301.0,2013.627907,2.891554,2003.00,2012.0,2014.0,2016.0,2018.0
Selling_Price,301.0,4.661296,5.082812,0.10,0.9,3.6,6.0,35.0
Present_Price,301.0,7.628472,8.644115,0.32,1.2,6.4,9.9,92.6
Kms_Driven,301.0,36947.205980,38886.883882,500.00,15000.0,32000.0,48767.0,500000.0
Owner,301.0,0.043189,0.247915,0.00,0.0,0.0,0.0,3.0